/* Quitar flechas en Chrome, Safari, Edge y Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Quitar flechas en Firefox */
        input[type=number] {
            -moz-appearance: textfield;
            appearance: textfield;
        }

/* CLASES DE UTILIDAD DE FILTRADO DE TARJETAS*/

        /* RELLENO VERDE (El que querías) */
        .highlight {
            background-color: #10b981 !important;
            /* Verde Esmeralda */
            color: #020617 !important;
            /* Texto casi negro */
            border-color: #10b981 !important;
            font-weight: bold !important;
            opacity: 1 !important;
        }

        /* APAGADO */
        .dimmed {
            opacity: 0.15 !important;
        }

        /* Pestaña activa */
        .active-tab {
            background-color: #059669 !important;
            color: white !important;
        }
